body {
  margin: 0 auto;
  display: block;
  color: rgb(94, 93, 93);
}

.wrapper-app {
  border: 1px solid rgba(245, 13, 187, 0.932);
  max-width: 650px;
  margin: 0 auto;
}

.weather-app {
  max-width: 650px;
  margin: 0px auto;
  margin-top: 7%;
  border: 2px solid rgb(163, 161, 161);
  border-radius: 12px;
  padding: 15px;
}

h1 {
  font-size: 45px;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}
